# Set to production when deploying to production
NODE_ENV=[]  #environment ex: production or development or test
SERVER_PORT=[] #apache port ex: 5000
SERVER_HOST=[] #host
SERVER_SSL=[] # use false incase of non ssl

#db configuration 
DB_NAME=[] #database name
DB_USER=[] # database user
DB_PASSWORD=[] # database password
DB_HOST=[] # database server host
DB_PORT=[] # database server port